{% extends 'base.html' %}
{% load widget_tweaks %}
{% load urlify %}

{% block title %}Home{% endblock %}

{% block style %}
  <style>
    body {
      color: #566787;
      background: #d3c6c6;
      font-family: 'Roboto-Medium','TaipeiSansTCRegular', sans-serif;
      font-family: 'Noto Sans TC', sans-serif;
      /*font-family: 'Roboto', sans-serif;*/
    }
    .table-wrapper {
      width: 1200px;
      background: #fff;
      padding: 20px 30px 5px;
      margin: 30px auto;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    }
    .table-wrapper .btn-group {
      float: right;
    }
    .table-title .btn {
      min-width: 50px;
      border-radius: 1px;
      border: none;
      padding: 6px 12px;
      font-size: 95%;
      outline: none !important;
      height: 30px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    }
    .table-title {
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 15px;
      background: rgb(0, 50, 74);
      margin: -20px -31px 10px;
      padding: 15px 30px;
      color: #fff;
    }
    .table-title h2 {
      margin: 2px 0 0;
      font-size: 24px;
    }
    table.table tr th,
    table.table tr td {
      border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
    }
    table.table tr th:first-child {
      width: 40px;
    }
    table.table tr th:last-child {
      width: 100px;
    }
    table.table-striped tbody tr:nth-last-of-type(odd) {
      background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
    table.table td a {
      color: #2196f3;
    }
    table.table td .btn.manage {
      padding: 2px 10px;
      background: #37bc98;
      color: #fff;
      border-radius: 1px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    }
    table.table td .btn.manage:hover {
      background: #2e9c81;
    }
    #formItem tr {
      background-color:transparent;
    }
    #formItem td {
      padding:1px 3px;
      margin: 0px;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        
        <!-- 標題/新增-區塊 -->
        <div class="col-sm-2">
          <h2><b>案件清單</b></h2>
        </div>

        <!-- 篩選-區塊 -->
        <div class="col-sm-7">
          <form method="get">
            <div class="row">
              <!-- 案號篩選欄位 -->
              <div class="col-sm px-1">
                <div class="filter_item">
                  <div class="input-group mb-3 input-group-sm">
                    {% render_field myFilter.form.yfcaseCaseNumber type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border:1px solid black;" placeholder="--案號--" %}
                  </div>
                </div>
              </div>
        
              <!-- 縣市篩選欄位 -->
              <div class="col-sm px-1">
                <div class="filter_item">
                  <div class="input-group mb-3 input-group-sm">
                    {% render_field myFilter.form.yfcaseCity class="custom-select" style="border:1px solid black;" placeholder="Category" %}
                  </div>
                </div>
              </div>
        
              <!-- 人員篩選欄位 -->
              <div class="col-sm px-1">
                <div class="filter_item">
                  <div class="input-group mb-3 input-group-sm">
                    {% render_field myFilter.form.user class="custom-select" style="border:1px solid black;" %}
                  </div>
                </div>
              </div>
        
              <!-- 最終判定篩選欄位 -->
              <div class="col-sm px-1">
                <div class="filter_item">
                  <div class="input-group mb-3 input-group-sm">
                    {% render_field myFilter.form.finalDecision class="custom-select" style="border:1px solid black;" %}
                  </div>
                </div>
              </div>
        
              <div class="container_button">
                <div class="row">
                  <div class="col-sm pr-1">
                    <button type="submit" class="btn btn-primary btn-md btn-block filter">篩選</button>
                  </div>
                  <div class="col-sm px-1">
                    <input type="button" class="btn btn-primary class_on_first_link btn-md btn-block cancel_filter" value="取消篩選" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>



        <!-- 所有/在案/過往-區塊 -->
        <div class="col-sm-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info active"> <input type="radio" name="status" value="all" checked="checked" /> 所有 </label>
            <label class="btn btn-success"> <input type="radio" name="status" value="active" /> 在案 </label>
            <label class="btn btn-warning"> <input type="radio" name="status" value="inactive" /> 過往 </label>
          </div>
        </div>
      </div>
    </div>

    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          {% if request.user.userFullName == "管理者" %}
            <th>操作</th>
          {% endif %}
          <th>ID</th>
          <th>案號</th>
          <th>兩週內</th>
          <th>負責人</th>
          <th>最終判定</th>
          <th>執行結果</th>
          <th>優購結果</th>
          <th>標的編號</th>
        </tr>
      </thead>
      <tbody>
        {% for yfcase in object_list %}
          <tr data-status="active">
            {% if request.user.userFullName == "管理者" %}
              <td data-label="操作">
                <a href="javascript:void(0)" onclick="yfcase_modal_delete('{% url 'yfcase:yfcase_delete' yfcase.id %}')" class="btn btn-outline-danger btn-sm delete-btn">
                  <i class="fas fa-trash-alt fa-lg"></i>
                </a>
              </td>
            {% endif %}
            <td>{{ yfcase.id }}</td>
            <td>
              <a href="{% url 'yfcase:yfcase_detail' yfcase.id %}">{{yfcase.yfcaseCaseNumber}}</a><br>
              &emsp;&#10149;{{yfcase.yfcaseCity|default_if_none:""}}{{yfcase.yfcaseTownship|default_if_none:""}}{{yfcase.yfcaseBigSection|default_if_none:""}}{{yfcase.yfcaseSmallSectiion|default_if_none:""}}{{yfcase.yfcaseOtherAddress|default_if_none:""}}
            </td>
            <td>
              <span style="color:red;">
                {% if yfcase.finaldecisions.first.finalDecision == "1拍進場" and yfcase.auctions.first.auctionDateFirst != "" %}
                  {{ yfcase.auctions.first.auctionDateFirst|less_two_week|default_if_none:"" }}<br>
                {% elif yfcase.finaldecisions.first.finalDecision == "2拍進場" and yfcase.auctions.first.auctionDateSecond != "" %}
                  {{ yfcase.auctions.first.auctionDateSecond|less_two_week|default_if_none:"" }}<br>
                {% elif yfcase.finaldecisions.first.finalDecision == "3拍進場" and yfcase.auctions.first.auctionDateThird != "" %}
                  {{ yfcase.auctions.first.auctionDateThird|less_two_week|default_if_none:"" }}<br>
                {% elif yfcase.finaldecisions.first.finalDecision == "4拍進場" and yfcase.auctions.first.auctionDateFourth != "" %}
                  {{ yfcase.auctions.first.auctionDateFourth|less_two_week|default_if_none:"" }}<br>
                {% endif %}
              </span>
            </td>
            <td>
              {{ yfcase.user.userFullName }}
            </td>
            <td>
              {{ yfcase.finalDecision }}
              
              <!-- 符合條件，顯示評量表的圖示 -->
              {% if yfcase.finalDecision|last_string == "拍進場" %}
                {% if yfcase.auctions.first.auctionFloorPriceFirst > 999999 or yfcase.auctions.first.auctionFloorPriceSecond > 999999 or yfcase.auctions.first.auctionFloorPriceThird > 999999 or yfcase.auctions.first.auctionFloorPriceFourth > 999999 %}
                  {% if yfcase.regionalHead != None and yfcase.subSigntrueA != None and yfcase.subSigntrueB != None %}
                  	<!--此區：最終判定後面3個字=拍進場 && 拍賣金額>=1000000 && 區域負責人+副署人員1+副署人員2-->
                    <a class="btn btn-primary text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:yfratingscalePDF_View' yfcase.pk %}?inline=">評</a>  
                  {% endif %}
                {% elif yfcase.auctions.first.auctionFloorPriceFirst < 1000000 or yfcase.auctions.first.auctionFloorPriceSecond < 1000000 or yfcase.auctions.first.auctionFloorPriceThird < 1000000 or yfcase.auctions.first.auctionFloorPriceFourth < 1000000 %}
                  {% if yfcase.auctions.first.auctionFloorPriceFirst > 0 or yfcase.auctions.first.auctionFloorPriceSecond > 0 or yfcase.auctions.first.auctionFloorPriceThird > 0 or yfcase.auctions.first.auctionFloorPriceFourth > 0 %}
                    {% if yfcase.regionalHead != None and yfcase.subSigntrueA != None %}
                      <!--此區：拍賣金額<1000000 && 拍賣金額>0 && 區域負責人+副署人員1-->
                      <a class="btn btn-primary text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:yfratingscalePDF_View' yfcase.pk %}?inline=">評</a>  
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% elif yfcase.finalDecision == "放棄" %}
                {% if yfcase.regionalHead != None %}
                  <!--此區：最終判定=放棄 && 區域負責人-->
                  <a class="btn btn-primary text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:yfratingscalePDF_View' yfcase.pk %}?inline=">評</a>
                {% endif %}
              {% endif %}
            </td>
            <td>第三人搶標</td>
            <td>
              
              <table id="formItem">

                <tr>
                  <td rowspan=2>無人優購</td>
                  <td>
                    <a href="javascript:void(0)" onclick="deedtax_modal_update('{% url 'yfcase:deedtax_edit' yfcase.id %}')" style="color:blue;font-size:20pt;" >
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="realestateregistration_modal_update('{% url 'yfcase:realestateregistration_edit' yfcase.id %}')" style="color:blue;font-size:20pt;" >
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="complaint_modal_update('{% url 'yfcase:complaint_edit' yfcase.id %}')" style="color:blue;font-size:20pt;">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="letter_modal_update('{% url 'yfcase:letter_edit' yfcase.id %}')" style="color:blue;font-size:20pt;" >
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:void(0)" onclick="commonpropertydivision_modal_update('{% url 'yfcase:commonpropertydivision_edit' yfcase.id %}')" style="color:blue;font-size:20pt;" >
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                      </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="btn btn-danger text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:deedtaxPDF_View' yfcase.pk %}?inline=">契</a>
                  </td>
                  <td>
                    <a class="btn btn-secondary text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:realestateregistrationPDF_View' yfcase.pk %}?inline=">動</a>
                  </td>
                  <td>
                    <a class="btn btn-success text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:complaintPDF_View' yfcase.pk %}?inline=">狀</a>
                  </td>
                  <td>
                    <a class="btn btn-warning text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:letterPDF_View' yfcase.pk %}?inline=">函</a>
                  </td>
                  <td>
                    <a class="btn btn-info text-white" style="padding:0px 5px;font-size:14pt;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);" href="{% url 'yfcase:commonpropertydivisionPDF_View' yfcase.pk %}?inline=">共</a>
                  </td>
                </tr>
              </table>

            </td>
            <td>KH001</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </tbody>
  </table>
  
  <div class="modal fade" id="createModal" role="dialog"></div>
  <div class="modal fade" id="deleteYfcaseModal" role="dialog"></div>
  <div class="modal fade" id="editDeedtaxModal" role="dialog"></div>
  <div class="modal fade" id="editRealestateregistrationModal" role="dialog"></div>
  <div class="modal fade" id="editComplaintModal" role="dialog"></div>
  <div class="modal fade" id="editLetterModal" role="dialog"></div>
  <div class="modal fade" id="editCommonpropertydivisionModal" role="dialog"></div>
  
{% endblock %}


{% block javascript %}
  <script>
    $(function() {
      $('.class_on_first_link').click(function(){
        window.location = window.location.protocol + '//' + window.location.hostname;
      });
    });
    
    function post_modal_create(url) {
      $('#createModal').load(url,function() {
        $(this).modal('show');
      });
    } 

    function yfcase_modal_delete(url) {
      $('#deleteYfcaseModal').load(url,function() {
        $(this).modal('show')
      })
    }
    
    function deedtax_modal_update(url) {
      $('#editDeedtaxModal').load(url,function() {
        $(this).modal('show')
      })
    }
    function realestateregistration_modal_update(url) {
      $('#editRealestateregistrationModal').load(url,function() {
        $(this).modal('show')
      })
    }
    function complaint_modal_update(url) {
      $('#editComplaintModal').load(url,function() {
        $(this).modal('show')
      })
    }
    function letter_modal_update(url) {
      $('#editLetterModal').load(url,function() {
        $(this).modal('show')
      })
    }
    function commonpropertydivision_modal_update(url) {
      $('#editCommonpropertydivisionModal').load(url,function() {
        $(this).modal('show')
      })
    }

    function gohome(){
      window.location.hostname
    }

  </script>
{% endblock javascript %}
