{% extends 'base.html' %}
{% load widget_tweaks %}
{% load urlify %}

{% block title %}Home{% endblock %}

{% block style %}
  <style>
    body {
      margin:0;
    	font-family: sans-serif;
    }
    
    *{
      box-sizing: border-box;
    }
    
    .table{
      width: 100%;
      border-collapse: collapse;
      
    }
    
    .table td,.table th{
      padding:12px 15px;
      border:1px solid #ddd;
      text-align: center;
      font-size:16px;
    }
    
    .table th{
    	background-color: Indigo;
    	color:#ffffff;
    }
    
    .table tbody tr:nth-child(even){
    	background-color: #f0f0f0;
    }
    
    .block_red {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color: lightpink;
		  background-color: red;
    }
    
    .block_green {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color:lightgreen;
		  background-color: green;
    }
    
    .block_blue {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color:lightblue;
		  background-color: blue;
    }
    
    .block_black {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color:grey;
		  background-color: black;
    }
    
    .block_indigo {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color:mediumpurple;
		  background-color: indigo;
    }
    
    .block_orangered {
		  color: white;
		  padding: 5px;
		  border-radius: 5px;
		  border-color:mediumpurple;
		  background-color: orangered;
    }
    
    .condition{
      width:100%;
    }
    
    .filter_item, .container_button {
      display: inline-block;
    }
    
    .filter{
      width: 100px;
      background-color: brown; 
      border:1px solid chocolate;
      border-radius:20px;
      margin:0px;
    }
    
    .cancel_filter {
      width: 100px;
      background-color: dimgrey; 
      border:1px solid lightgrey;
      border-radius:20px;
      margin:0px;
    }

    
    /*responsive*/

    @media
	  only screen 
    and (max-width: 760px), (min-device-width: 320px) 
    and (max-device-width: 1024px)  {
    	.table thead{
    		display: none;
    	}
    
    	.table, .table tbody, .table tr, .table td{
    		display: block;
    		width: 100%;
    	}
    	.table tr{
    		margin-bottom:15px;
    	}
    	.table td{
    		text-align: right;
    		padding-left: 30%;
    		text-align: right;
    		font-size:20px;
    		position: relative;
    	}
    	.table td::before{
    		content: attr(data-label);
    		position: absolute;
    		left:0;
    		width: 50%;
    		padding-top:0px;
    		padding-left:15px;
    		font-size:22pt;
    		font-weight: bold;
    		text-align: left;
      }
      
      
      .condition {
        background: DarkSeaGreen;
        margin-left:15px;
        width:10%;
        padding-top: 55px;
      }
      
      .condition-item{
        background-color: LightGreen;
        margin-right:15px;
        padding:5px;
      }
      .filter_item{
        width:100%;
      }
      
      .container_button {
        position:absolute;
        right:0px;
      }

    }

  </style>
{% endblock %}
{% block content %}
  <h1 style="text-align: center;">案件清單</h1>
  <div style="margin-bottom:3px;">

  <form method="get">
    <div class="row">
      <div class="condition" style="padding-left:15px;padding-right:0px;margin-right:0px;">
        <h3 style="padding-right:5px;">篩選條件</h3>
      </div>
      <div class="condition-item col">
        
        <div class="filter_item">
        <!-- 案號篩選欄位 -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text bg-primary text-white" id="inputGroup-sizing-default" style="border:1px solid black;">案號</span>
          </div>
          {% render_field myFilter.form.yfcaseCaseNumber type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border:1px solid black;" %}
        </div>
      </div>

        <div class="filter_item">
          <!-- 縣市篩選欄位 -->
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
              <label class="input-group-text bg-success text-white" for="id_yfcaseCity" style="border:1px solid black;">縣市</label>
            </div>
            {% render_field myFilter.form.yfcaseCity class="custom-select" style="border:1px solid black;" %}
          </div>
        </div>
  
        <div class="filter_item">
          <!-- 人員篩選欄位 -->
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
              <label class="input-group-text bg-info text-white" for="id_yfcaseCity" style="border:1px solid black;">人員</label>
            </div>
            {% render_field myFilter.form.user class="custom-select" style="border:1px solid black;" %}
          </div>
        </div>
  
        <div class="filter_item">
          <!-- 最終判定篩選欄位 -->
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
              <label class="input-group-text bg-warning text-white" for="id_yfcaseCity" style="border:1px solid black;">最終判定</label>
            </div>
            <!--{% render_field myFilter.form.yfcaseFinalDecision class="custom-select" style="border:1px solid black;" %}-->
          </div>
        </div>
  
        <div class="container_button">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary btn-md btn-block filter" >篩選</button>
            </div>
            <div class="col">
              <input type ="button"  class="btn btn-primary class_on_first_link btn-md btn-block cancel_filter" value="取消篩選"></input>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </form>
  <br>


  <table class="table">
    <thead>
      <tr>
        {% if request.user.userFullName == "管理者" %}
          <th>操作</th>
        {% endif %}
        <th>案號</th>
        <th>兩週內提醒</th>
        <th>負責人</th>
        <th>最終判定</th>
        <th>執行結果</th>
        <th>優購結果</th>
        <th>標的編號</th>
      </tr>
    </thead>
    <tbody>
      {% for yfcase in object_list %}
      <tr>
        {% if request.user.userFullName == "管理者" %}
          <td data-label="操作">
            <a href="javascript:void(0)" onclick="yfcase_modal_delete('{% url 'yfcase:yfcase_delete' yfcase.id %}')" class="btn btn-outline-danger btn-sm delete-btn">
              <i class="fas fa-trash-alt fa-lg"></i>
            </a>
          </td>
        {% endif %}
        <td data-label="案號">
          <a href="{% url 'yfcase:yfcase_detail' yfcase.id %}">{{yfcase.yfcaseCaseNumber}}</a><br>
          &emsp;&#10149;{{yfcase.yfcaseCity|default_if_none:""}}{{yfcase.yfcaseTownship|default_if_none:""}}{{yfcase.yfcaseBigSection|default_if_none:""}}{{yfcase.yfcaseSmallSectiion|default_if_none:""}}{{yfcase.yfcaseOtherAddress|default_if_none:""}}
        </td>
        <td data-label="兩週內提醒">
          <span style="color:red;">
            {% if yfcase.finaldecisions.first.finalDecision == "1拍進場" and yfcase.auctions.first.auctionDateFirst != "" %}
              {{ yfcase.auctions.first.auctionDateFirst|less_two_week|default_if_none:"" }}<br>
            {% elif yfcase.finaldecisions.first.finalDecision == "2拍進場" and yfcase.auctions.first.auctionDateSecond != "" %}
              {{ yfcase.auctions.first.auctionDateSecond|less_two_week|default_if_none:"" }}<br>
            {% elif yfcase.finaldecisions.first.finalDecision == "3拍進場" and yfcase.auctions.first.auctionDateThird != "" %}
              {{ yfcase.auctions.first.auctionDateThird|less_two_week|default_if_none:"" }}<br>
            {% elif yfcase.finaldecisions.first.finalDecision == "4拍進場" and yfcase.auctions.first.auctionDateFourth != "" %}
              {{ yfcase.auctions.first.auctionDateFourth|less_two_week|default_if_none:"" }}<br>
            {% endif %}
          </span>
        </td>
        <td data-label="負責人">
          {{ yfcase.user.userFullName }}
        </td>
        <td data-label="最終判定">
          {{ yfcase.finaldecisions.first.finalDecision }}
          {% if yfcase.finaldecisions.first.finalDecision|last_string == "拍進場" %}
            {% if yfcase.auctions.first.auctionFloorPriceFirst > 999999 or yfcase.auctions.first.auctionFloorPriceSecond > 999999 or yfcase.auctions.first.auctionFloorPriceThird > 999999 or yfcase.auctions.first.auctionFloorPriceFourth > 999999 %}
              {% if yfcase.finaldecisions.first.regionalHead != None and yfcase.finaldecisions.first.subSigntrueA != None and yfcase.finaldecisions.first.subSigntrueB != None %}
              	<!--此區：最終判定後面3個字=拍進場 && 拍賣金額>=1000000 && 區域負責人+副署人員1+副署人員2-->
                <a href="{% url 'yfcase:yfratingscale_pdf_view' yfcase.pk %}" class="block_blue">評</a>
              {% endif %}
            {% elif yfcase.auctions.first.auctionFloorPriceFirst < 1000000 or yfcase.auctions.first.auctionFloorPriceSecond < 1000000 or yfcase.auctions.first.auctionFloorPriceThird < 1000000 or yfcase.auctions.first.auctionFloorPriceFourth < 1000000 %}
              {% if yfcase.auctions.first.auctionFloorPriceFirst > 0 or yfcase.auctions.first.auctionFloorPriceSecond > 0 or yfcase.auctions.first.auctionFloorPriceThird > 0 or yfcase.auctions.first.auctionFloorPriceFourth > 0 %}
                {% if yfcase.finaldecisions.first.regionalHead != None and yfcase.finaldecisions.first.subSigntrueA != None %}
                  <!--此區：拍賣金額<1000000 && 拍賣金額>0 && 區域負責人+副署人員1-->
                  <a href="{% url 'yfcase:yfratingscale_pdf_view' yfcase.pk %}" class="block_blue">評</a>
                {% endif %}
              {% endif %}
            {% endif %}
          {% elif yfcase.finaldecisions.first.finalDecision == "放棄" %}
            {% if yfcase.finaldecisions.first.regionalHead != None %}
              <!--此區：最終判定=放棄 && 區域負責人-->
              <a href="{% url 'yfcase:yfratingscale_pdf_view' yfcase.pk %}" class="block_blue">評</a>  
            {% endif %}
          {% endif %}
        </td>
        <td data-label="執行結果">
          第三人搶標
        </td>
        <td data-label="優購結果">
          無人優購
          <a href="javascript:void(0)" onclick="afterwinner_modal_update('{% url 'yfcase:afterwinner_edit' yfcase.id %}')" class="btn-sm p-0 m-0">
            <i class="fas fa-list-alt fa-2x"></i>
          </a>
          <a href="{% url 'yfcase:deedtax_pdf_view' yfcase.pk %}" class="block_red">契</a>
          <a href="{% url 'yfcase:realestateregistration_pdf_view' yfcase.pk %}" class="block_green">動</a>
          <a href="{% url 'yfcase:complain_pdf_view' yfcase.pk %}" class="block_black">狀</a>
          <a href="{% url 'yfcase:letter_pdf_view' yfcase.pk %}" class="block_indigo">函</a>
          <a href="{% url 'yfcase:commonpropertydivision_pdf_view' yfcase.pk %}" class="block_orangered">共</a>
        </td>
        <td data-label="標的編號">KH001</td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
  
  <div class="modal fade" id="createModal" role="dialog"></div>
  <div class="modal fade" id="deleteYfcaseModal" role="dialog"></div>
  <div class="modal fade" id="editAfterWinnerModal" role="dialog"></div>
  
{% endblock %}


{% block javascript %}
  <script>
    $(function() {
      $('.class_on_first_link').click(function(){
        window.location = window.location.protocol + '//' + window.location.hostname;
      });
    });
    
    function post_modal_create(url) {
      $('#createModal').load(url,function() {
        $(this).modal('show');
      });
    } 

    function yfcase_modal_delete(url) {
      $('#deleteYfcaseModal').load(url,function() {
        $(this).modal('show')
      })
    }
    
    function afterwinner_modal_update(url) {
      $('#editAfterWinnerModal').load(url,function() {
        $(this).modal('show')
      })
    }

    function gohome(){
      window.location.hostname
    }

  </script>
{% endblock javascript %}
