{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <style>
    body {
      font-family: 'Roboto-Medium','Noto Sans TC', sans-serif;
    }
  </style>
</head>
<body>
  {{yfcase}}
  {{yfcase.yfcaseCompany}}
  <br>
  契
  <br>
  許功蓋
  <br>
  1234567890
  <br>
  abcdefghijklmnopqrstuvwxyz
  <br>
  ,./;':[]!@#$%^&*()~`\|"?><
  <br>
  ABCDEFGHIJKLMNOPQRSTUVWXYZ

  
</body>
</html>