/*註釋掉*/
/*@font-face { */
/*  font-family: 'Noto Sans TC'; */
/*  src: url('../fonts/NotoSansTC-Medium.otf') format("opentype"), */
/*  local('Noto Sans TC'); */
/*}*/

@font-face { 
  font-family: 'TaipeiSansTCRegular'; 
  src: url('../fonts/TaipeiSansTCBeta-Regular.ttf') format("truetype"), 
  local('TaipeiSansTC Regular'); 
} 

@font-face { 
  font-family: 'Roboto-Medium'; 
  src: url('../fonts/Roboto-Medium.ttf') format("truetype"), 
  local('Roboto-Medium'); 
}

body {
  font-family: 'Roboto-Medium','TaipeiSansTCRegular', sans-serif;
}

h1 {
	color:red;
}